* {
  box-sizing: border-box;
}
body {
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-bottom: rgba(0, 140, 255, 0.356) solid 35px;
  padding: 5px 0px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 10px;
}
.myPhoto {
  border-radius: 50%;
}
.photo {
  min-width: 360;
  min-height: 360;
  margin: 10px;
}
header,
footer {
  display: flex;
  background-color: rgba(0, 140, 255, 0.356);
  justify-content: space-between;
  padding: 5px;
  font-size: 24px;
}
.profileName {
  padding: 5px 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-bottom: white solid 3px;
  text-align: center;
  max-width: 1080px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  word-spacing: 30px;
}
h1 {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 10px auto;
  min-height: 100%;
}
.year {
  margin: 14px 0px 0px;
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.yearGitHub {
  display: flex;
}
.nav-item {
  margin: 0px 10px;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.section-title {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 10px;
}
